<!doctype html>
<html>
<head>
<title>X-Ray</title>
<style type="text/css">
	body {
    margin:50px 0; 
    padding:0;
    text-align:center;
}

#Content {
    width:500px;
    margin:0 auto;
    text-align:left;
    padding:15px;
    border:1px dashed #333;
    background-color:#eee;
}
</style>
</head>
<h1>Detection of Covid-19 from Lung X-ray</h1>
<h1>Upload new File</h1>
	<form method=post enctype=multipart/form-data>
		<input type=file name=file>
		<input type=submit value=Upload>
	</form>
</html>